<!DOCTYPE html>
<html lang="en-us">
    <head>
        <style>
            .grid-container {
                display: grid;
                grid-template-columns: 680px auto;
                background-color: #2196F3;
                padding: 10px;
            }
            .grid-item {
                background-color: rgba(255, 255, 255, 0.8); 
                border: 1px solid #2196F3;
                padding: 20px;
                text-align: center;
            }
            .square {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                font-size: 14px;
            }
			.white_square{
				background-color:#F0D2B4;
			}
			.black_square{
				background-color :#BA7A3A;
			}            
            .dot {
                height: 47px;
                width: 47px;
                border-radius: 50%;
                font-size: 40px;
                display: inline-block;
                cursor: pointer
                
            }
            .stoneblack {
                color: lightgrey;
                background-color: black;
				border: 1px solid white;
  				box-shadow: 0 0 0 3px black;                
            }
            .stonewhite {
                color: slategrey;
                background-color: white;
				border: 1px solid black;
  				box-shadow: 0 0 0 3px white;                
            }
            .movecandidate {
                color: white;
                background-color :#d59a5f;
            }

            .smalldot {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                display: inline-block;
            }

            .buttonsquare {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 60px;
                font-size: 14px;
            }
            .tableborder {
                border-collapse: collapse;
                border: 5px solid black;
            }
            .tableinner2 {
                border: 1px solid slategrey;
            }

            .tableleft {
                text-align: left;
            }
        </style>
    </head>

<!--    flexcontainer-->

    <body onload="createTableBoard()">
        <div class="grid-container">
            <div class="grid-item">
                <table class="tableborder" id="boardTable">
                </table>
            </div>
            <div class="grid-item">
                <label for="fenSTring">Fen String: </label>
                <input type="text" id="fenString" name="fenString" >
                <button id="buttonFen" onclick="confirmFen()">Confirm Fen</button>
                <table class="table2">
                    <tr>
                        <td class="tableleft" id="loggingInfo"></td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="4"><input type="checkbox" checked id="showCandidateMoves" onclick="getBoard()" name="showCandidateMoves" value="showCandidateMoves"><label for="showCandidateMoves">Show Candidate Moves</label></td>
                    </tr>
                    <tr>
                        <td>Aan zet</td>
                        <td>Winnaar</td>
                        <td></td>
                        <td colspan="4"><input type="checkbox" id="useComputerPlayer" name="useComp" value="useComp"><label for="useComp"> Play vs Computer</label></td>
                    </tr>
                    <tr>
                        <td><div class="buttonsquare"><div id="whoistomove" class="smalldot"></div></div></td>
                        <td><div class="buttonsquare"><div id="winner" class="smalldot"></div></div></td>
                        <td><div class="buttonsquare"><button id="buttonNew" onclick="newGame()">New game</button></div></td>
                        <td><div class="buttonsquare"><button id="buttonTakeback" onclick="takebackLastMove()">Take Back</button></div></td>
                        <td><div class="buttonsquare"><button id="buttonCompute" onclick="computeMove()">Compute Move</button></div></td>
                        <td><div class="buttonsquare"><input hidden type="number" id="searchDepth" min="1" max="42" step="1" value="7" size="6"></div></td>
                    </tr>
                </table>
                <table class="table2">
                    <tr>
                        <td class="tableleft"><b>board id:</b></td>
                        <td class="tableleft" id="boardId"></td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
                <table class="table2">
                    <tr>
                        <td class="tableleft"><b>Evaluation value:</b></td>
                        <td class="tableleft" id="evaluationValue"></td>
                    </tr>
                    <tr>
                        <td class="tableleft"><b>Computer Move:</b></td>
                        <td class="tableleft" id="computerMove"></td>
                    </tr>
                    <tr>
                        <td class="tableleft"><b>Nodes:</b></td>
                        <td class="tableleft" id="nodesCount"></td>
                    </tr>
                    <tr>
                        <td class="tableleft"><b>Time (ms):</b></td>
                        <td class="tableleft" id="timeSpend"></td>
                    </tr>
                    <tr>
                        <td class="tableleft"><b>Nodes/sec:</b></td>
                        <td class="tableleft" id="nodesPerSecond"></td>
                    </tr>
                </table>
            </div>
        </div>

        <script>
            var globalBoardFields
            const fieldIdPrefix = "field"
            
            function toFieldId(fieldNumber) {
                return fieldIdPrefix + fieldNumber
            }

            function toFieldNumber(fieldId) {
                return parseInt(fieldId.substr(fieldIdPrefix.length, 100));
            }

            function createTableBoard() {
                var table = document.getElementById("boardTable");
                var fieldNumber = 1
                for (let row = 0; row < 10; row++) {
                    var tableRow = table.insertRow(row);
                    tableRow.className = "tableinner"
                    for (let col = 0; col < 10; col++) {
                        var cell = tableRow.insertCell(col);
                        cell.className = "tableinner"

                        var outerDiv = document.createElement("div");
                        if ((row+col) % 2 == 1) {
                        	outerDiv.className = "square black_square"
                        	
	                        var innerDiv = document.createElement("div");
                	        outerDiv.appendChild(innerDiv)
                            innerDiv.className = "dot black_square"
        	                innerDiv.id = toFieldId(fieldNumber)
        	                fieldNumber = fieldNumber + 1
                        } else {
	                        outerDiv.className = "square white_square"
                        }
                        cell.appendChild(outerDiv)
                    }
                }
                getBoard()
            }

            function toClassName(modelColor) {
                if (modelColor.toUpperCase() === "WHITE") {
                    return "dot stonewhite"
                } else if (modelColor.toUpperCase() === "BLACK") {
                    return "dot stoneblack"
                } else {
                    return "dot black_square"
                }
            }

            function showToFieldOptions(fieldInfo) {
                for (let i = 0; i < fieldInfo.toFields.length; i++) {
                    if (fieldInfo.fieldNumber != fieldInfo.toFields[i]) {
                        var element = document.getElementById(toFieldId(fieldInfo.toFields[i]));
                        element.style.cursor = "pointer"
                        element.style.pointerEvents = 'auto';
                        element.className = "dot movecandidate"
                    }
                }
            }

            function hideToFieldOptions(fieldInfo) {
                for (let i = 0; i < fieldInfo.toFields.length; i++) {
                    if (fieldInfo.fieldNumber != fieldInfo.toFields[i]) {
                        var element = document.getElementById(toFieldId(fieldInfo.toFields[i]));
                        element.style.cursor = "default"
                        element.style.pointerEvents = 'none';
                        element.className = "dot black_square"
                    }
                }
            }

            function dragPiece(ev, list) {
                for (let i = 0; i < list.length; i++) {
                    var element = document.getElementById(toFieldId(list[i]));
                    element.ondrop=function(){drop(event, list[i])}
                    element.ondragover=function(){allowDrop(event)}
                }
                var fieldNumber = toFieldNumber(ev.target.id)
                ev.dataTransfer.setData("from", fieldNumber);
            }

            function cancelDragPiece(ev) {
                if (ev.dataTransfer.dropEffect == "none") {
                    showFields(globalBoardFields)
                }
            }

            function allowDrop(ev) {
                ev.preventDefault();
            }

            function drop(ev, toField) {
                ev.preventDefault();
                var fromField = ev.dataTransfer.getData("from");
                executeMove(fromField, toField)
            }

            function setElement(element, fieldInfo) {
                var className = toClassName(fieldInfo.color)
                element.className = className
                element.innerHTML = ""    
                if (fieldInfo.isKing) {
                    element.innerHTML = "X"    
                }

                element.setAttribute("draggable", false)
                if (fieldInfo.isPlayableFromField) {
                    element.onmouseup=function(){hideToFieldOptions(fieldInfo)}
                    element.onmousedown=function(){showToFieldOptions(fieldInfo)}
                    element.ondragstart=function(){dragPiece(event, fieldInfo.toFields)}
                    element.ondragend=function(){cancelDragPiece(event)}

                    element.setAttribute("draggable", true)
                    element.style.cursor = "pointer"
                    element.style.pointerEvents = 'auto';
                } else {
                    element.style.cursor = "default"
                    element.style.pointerEvents = 'none';
                }
            }

            function showBoard(board) {
                globalBoardFields = board.fields
                showFields(board.fields)
                showWhoIsToMove(board)
                showActionButtons(board)
//                 showComputerResult(board.searchResult)
                showMiscellanious(board)
            }

            function showFields(fields) {
                for (let i = 0; i < fields.length; i++) {
                    var elem = document.getElementById(toFieldId(fields[i].fieldNumber));
                    setElement(elem, fields[i])
                }
            }

            function showMiscellanious(board) {
                document.getElementById("boardId").innerText = board.boardString;
            }

            function disableAllButtons() {
                document.getElementById("buttonCompute").disabled = true
                document.getElementById("buttonTakeback").disabled = true
            }

            function showWhoIsToMove(board) {
                var elem = document.getElementById("whoistomove");
                elem.className = toClassName(board.colorToMove);
            }

            function showActionButtons(board) {
                document.getElementById("buttonCompute").disabled = board.gameFinished
                document.getElementById("buttonTakeback").disabled = !board.takeBackPossible
            }

            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            function moveSequenceToString(moveSequence) {
                    s = ""
                    for (let i = 0; i < moveSequence.length; i++) {
                        if (i > 0) {
                            s = s + "-"
                        }
                        s = s + String.fromCharCode(97 + moveSequence[i].col) + String.fromCharCode(48 + moveSequence[i].row + 1)
                    }
                    return s
            }

            function showComputerResult(searchResult) {
                if (searchResult != null) {
                    document.getElementById("computerMove").innerText = moveSequenceToString(searchResult.moveSequence)
                    document.getElementById("evaluationValue").innerText = numberWithCommas(searchResult.evaluationValue) + "%"
                    document.getElementById("nodesCount").innerText = numberWithCommas(searchResult.nodesVisited)
                    document.getElementById("timeSpend").innerText = numberWithCommas(searchResult.durationMillis)
                    document.getElementById("nodesPerSecond").innerText = numberWithCommas(searchResult.nodesPerSecond)
                } else {
                    document.getElementById("computerMove").innerText = ""
                    document.getElementById("evaluationValue").innerText = ""
                    document.getElementById("nodesCount").innerText = ""
                    document.getElementById("timeSpend").innerText = ""
                    document.getElementById("nodesPerSecond").innerText = ""
                }
            }

            function showComputeStatusInfo(info) {
                document.getElementById("loggingInfo").innerText = info.statusLine
            }

            function confirmFen() {
                getBoardByFen(document.getElementById("fenString").value)
            }
        </script>


        <script>
            function executeMove(fromField, toField) {
                var request = new XMLHttpRequest();
                request.open("POST", "api/v1/move/" + fromField + "/" + toField);
                request.onreadystatechange = function() {
                    if(this.readyState === 4 && this.status === 200) {
                        var board = JSON.parse(this.responseText);
                        showBoard(board);
                        var useComputer = document.getElementById("useComputerPlayer").checked
                        if (!board.gameFinished && useComputer) {
                            computeMove()
                        }
                    }
                };
                request.send();
            }

            function takebackLastMove() {
                var request = new XMLHttpRequest();
                request.open("POST", "api/v1/move/takeback/");
                request.onreadystatechange = function() {
                    if(this.readyState === 4 && this.status === 200) {
                        var board = JSON.parse(this.responseText);
                        showBoard(board);
                    }
                };
                request.send();
            }

            function computeMove() {
                disableAllButtons()
                var request = new XMLHttpRequest();
                request.open("POST", "api/v1/move/compute/"+document.getElementById("searchDepth").value);
                request.onreadystatechange = function() {
                    if(this.readyState === 4 && this.status === 200) {
                        var board = JSON.parse(this.responseText);
                        showBoard(board);
                        getComputeStatusInfo()
                    }
                };
                request.send();
            }

            function getBoard() {
                var request = new XMLHttpRequest();

                request.open("GET", "api/v1/board/");
                request.onreadystatechange = function() {
                    if(this.readyState === 4 && this.status === 200) {
                        var board = JSON.parse(this.responseText);
                        showBoard(board);
                    }
                };
                request.send();
            }

            function newGame() {
                var request = new XMLHttpRequest();
                request.open("POST", "api/v1/board/");
                request.onreadystatechange = function() {
                    if(this.readyState === 4 && this.status === 200) {
                        var board = JSON.parse(this.responseText);
                        showBoard(board);
                    }
                };
                request.send();
            }

            function getBoardByFen(fenString) {
                var request = new XMLHttpRequest();
                request.open("POST", "api/v1/board/fen/");
                request.setRequestHeader("Accept","application/json")
                request.setRequestHeader("Content-Type","text/plain")

                request.onreadystatechange = function() {
                    if(this.readyState === 4 && this.status === 200) {
                        var board = JSON.parse(this.responseText);
                        showBoard(board);
                    }
                };

                var data = fenString;
                request.send(data);
            }

//             function getComputeStatusInfo() {
//                 var request = new XMLHttpRequest();
// 
//                 request.open("GET", "api/v1/compute/info/");
//                 request.onreadystatechange = function() {
//                     if(this.readyState === 4 && this.status === 200) {
//                         var info = JSON.parse(this.responseText);
//                         showComputeStatusInfo(info);
//                     }
//                 };
//                 request.send();
//             }
//             const myInterval = setInterval(getComputeStatusInfo, 1000);

        </script>
    </body>
</html>
